extends ../../common/pug/_base

mixin content ()
  - var b = 'block'
  center(class=b)
    h1(class=b+'__element')=`my parent class is .${b}, my class is .${b}__element`
    h1(class=b+'__element'+' is-warning')=`my parent class is .${b}, my class is .${b}__element with .is-warning as modifier`
block main
  #root
    +content()