extends ../../common/jade/_base

block meta
  +favicon()

mixin content ()
  - var b = 'reset-password'
  center(class="#{b}")
    el-tabs(v-model="activeTab")
      el-tab-pane(label="By phone", name="phone")
        el-form(ref="phoneForm", :model="user")
          el-form-item(
            prop="phone",
            :rules="rules.phone",
          )
            el-input(class="#{b}__phone-input",
              name="phone_number",
              type="tel",
              auto-complete="tel",
              v-model="user.phone",
              placeholder="Phone")
        el-button(type="primary", @click="sendCodeByPhone") Send Verification Code

      el-tab-pane(label="By email", name="email")
        el-form(ref="emailForm", :model="user")
          el-form-item(
            prop="email",
            :rules="rules.email",
          )
            el-input(v-model="user.email",
              name="email",
              auto-complete="email",
              type="text",
              placeholder="Email")
        el-button(type="primary", @click="sendCodeByEmail") Send Verification Code
      <br><br>
      el-form(ref="pswdForm", :model="user")
        el-form-item(
          prop="pswd",
          :rules="rules.pswd",
        )
          password-input(v-model="user.pswd",
            autocomplete="new-password",
            placeholder="Password")
        el-form-item(
          prop="repswd",
          :rules="rules.repswd",
        )
          password-input(v-model="user.repswd",
            name="repswd",
            placeholder="Re password",
            autocomplete="new-password")
        el-form-item(
          prop="code",
        )
          el-input(v-model="user.code", placeholder="Verification code")
      el-button(type="primary", @click="resetPassword") Reset Password
block main
  #root
    +content()